<p id="notice"><%= notice %></p>

Image <%= @question.img1.id %> reponse count: <b><%= @question.image_one_count %></b>
<br />
Image <%=@question.img2.id %> reponse count: <b><%= @question.image_two_count %></b>
<br />

  <b>Img1:</b>
  <%= image_tag @question.img1.image_name.url %>

  <b>Img2:</b>
  <%= image_tag @question.img2.image_name.url %>

<br />
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
