<p id="notice"><%= notice %></p>

<p>
  <b>Ruler height:</b>
  <%= @quiz.ruler_height %>
</p>

<p>
  <b>Ruler width:</b>
  <%= @quiz.ruler_width %>
</p>

<p>
  <b>Ip address:</b>
  <%= @quiz.ip_address %>
</p>

<p>
  <b>Start time:</b>
  <%= @quiz.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @quiz.end_time %>
</p>

<p>
  <b>Validation hash:</b>
  <%= @quiz.validation_hash %>
</p>

<p>
  <b>Worker:</b>
  <%= @quiz.worker_id %>
</p>


<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
