<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @experiment.name %>
</p>
<br />
Current Response count is <%= @experiment.surveys.count %>
<br />
<%= link_to 'download results', exp_results_path(:format => :csv) %>

<p>
  <b>Images:</b><br />
  <% @experiment.images.each do |x| %>
    <%= x.image_name_tag %><br /><br />
  <% end  %>
</p>


<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>
