<%= turkee_form_for(@survey, params) do |f| %>
    <p>If you have any comments about the survey please enter them below</p>
    <%= f.hidden_field :experiment_id %>
    <%= f.hidden_field :turkee_task_id %>
    <input id="survey_responses_raw" name="survey[responses_raw]" type="hidden" value="[]" />
    <%= f.hidden_field :ruler_width %>
    <%= f.hidden_field :ruler_height %>
    <%= f.hidden_field :ip_address %>
    <p><%= f.text_area :comments, :disabled => @disabled,  :rows=>10 %> </p>
    <p><%= f.submit 'Submit', :disabled => @disabled %></p>
<% end %>