<div id="instructions">

  <h2> Task Description </h2>
  <p>This HIT is part of a scientific research project at the University of Pennsylvania, and your participation is
    voluntary. The purpose of this project is to study the readability of text of variable font, size, and color.
    You will be asked to answer a series of 55 questions. The answers we receive may be used in publication. However,
    your responses are anonymous; no identifying information will be included in any publication. If you have
    questions about the study, please use the Contact Requester link on Amazon to contact the requester, or write your
    comment in the comments section at the end of this survey.</p>

  <h2> Instructions </h2>
  <p> You will be presented a total of <%= @question_count.to_s %> image pairs. Each image contains text.
    Your task is to <b> select the image in each pair that you think is more readable </b>.
    You make the selection by moving the mouse over one of the images and clicking. To start the next trial,
    you move the mouse back to the black box at the top center of the screen. Once you accept this hit
    you will be able to start the form below.</p>

  <h3> Before you start</h3>
  <%= image_tag("ruler.png") %>
  <br />
  <br />
  <p> About how wide and tall is the above retangle <i> in inches? </i> </p>
  width: <input type="number" min="0" <%= if @disabled then "disabled" end%> name="width" id="ruler-width" style="width:50px;" > inches <br/>
  height: <input type="number" min="0" <%= if @disabled then "disabled" end%> name="height" id="ruler-height" style="width:50px;"> inches <br/>
  <button id="startQuiz" class="btn" <%= if @disabled then "disabled" end%>>Start the survey</button>
</div>
