<%= simple_form_for @image, :html => {:class => 'form-horizontal' } do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :image_name %><br />
    <%= f.input :color_type %>
    <%= f.input :val1 %>
    <%= f.input :val2 %>
    <%= f.input :val3 %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
