<%= simple_form_for @image, :html => {:class => 'form-horizontal' } do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.input :tag_list %> <br />
    <%= f.input :image_name %><br />
    <h3>Foreground color</h3>
    <%= f.fields_for :fg_color do |fg_color| %>
        <%= fg_color.input :color_type %>
        <%= fg_color.input :val1 %>
        <%= fg_color.input :val2 %>
        <%= fg_color.input :val3 %>
    <% end %>

    <h3>Background color</h3>
    <%= f.fields_for :bg_color do |bg_color| %>
        <%= bg_color.input :color_type %>
        <%= bg_color.input :val1 %>
        <%= bg_color.input :val2 %>
        <%= bg_color.input :val3 %>
    <% end %>


    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
