<p id="notice"><%= notice %></p>

<p>
  <b>Image name:</b>
  <%= @image.image_name.file.filename %>
</p>
  <%= image_tag @image.image_name_url %>
  <br />
  <%= @image.tag_list %>
  <br />

  <br />

<p>Calculated Readability: <%= @image.get_reg_val %></p>
<p>MLDS Readability: <%= @image.results.average(:psi) %> </p>
   <p>W3C Says: <%= @image.get_w3c %> </p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
